body {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0 2rem;
}

.logo {
    width: 7rem;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
}

.nav-items > ul > li {
    padding: 1rem;
}

.nav-items > ul > li > a {
    text-decoration: none;
    color: black;
}


.search {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    background-color: whitesmoke;
    border: none;
    width: 12.5rem;
}

.search::placeholder {
    color: #F16331;
}

.res-container {
    width: 100%;
    border: 1px solid transparent;
    background-color: whitesmoke;
    background-color: #D3D3D3;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.res-card {
    min-height: 19.8rem;
    width: 20%;
    background-color: white;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.res-card:hover {
    box-shadow: 12px 10px 14px rgb(91, 90, 90);
    transition: all ease 500ms;
    scale: 103%;
}

.card-img {
    height: 10rem;
    /* width: 100%; */
    object-fit: cover;
    border-radius: inherit;
}

.res-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.star {
    display: flex;
    align-items: center;
    gap: 0 2px;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background-color: rgb(7, 92, 7);
    font-size: 0.7rem;
    color: white;
    padding: 4px 6px;
}

.cuisine-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    margin: 0 0;
}

.cuisine-time >p:nth-child(2) {
    font-weight: bold;
}

.order-btn {
    width: 70%;
    margin: 0 auto;
    all: unset;
    text-align: center;
    background: linear-gradient(to right, #F16331, #f16431d1);
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    border-radius: 0.4rem;
}

.costTwo > h3 {
    margin: 6px auto;
}

.shimmer-card {
    background-color: #f0f0f0;
    min-height: 19.8rem;
    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.shimmer-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.login {
    cursor: pointer;
    border: none;
    background: inherit;
    font-weight: bold;
    font-size: medium;
}

.filter {
    display: flex;
    align-items: center;
    height: inherit;
    column-gap: 1.5rem;
}

.filter-btn {
    align-items: center;

}